* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins";
  background: #5d00d6;
  margin: 0;
  display: grid;
  place-items: center;
  color: white;
  height: 100vh;
}
button {
  background: none;
  border: none;
  color: white;
  position: relative;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 0.2em;
  outline: none;
  width: 10em;

  &:before {
    position: absolute;
    content: "";
    background-color: #5000bb;
    height: 100%;
    width: 100%;
    top: 0.5em;
    left: 0.5em;
    z-index: -1;
    border-radius: 0.2em;
    transition: 0.2s;
  }
  &:hover:before {
    top: 0.25em;
    left: 0.25em;
  }
}

p {
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
  clip-path: circle(0% at 50% 50%);
}

svg {
  stroke-dasharray: 0 100;
  position: absolute;
  top: 0.7em;
  left: 0.5em;
  transform: scale(0.7) translate(-18px, -10px);
}
